@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lemon&family=Quicksand:wght@700&family=Salsa&display=swap');

*{
    margin: 0;
    padding: 0;
    
}


.container{
    background-image: url("/pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
   
}


nav{
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box; 
    
    
}
header{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,151,233,1) 100%);
   position: fixed;
   height: 50px;
   top: 0;
   left: 0;
   width: 100%;
   padding: 23px 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   padding-left: 0px;
   font-family: 'Quicksand', sans-serif;
}

nav #logo{
    width: 65px;
    box-sizing: border-box; 
   
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    box-sizing: border-box; 
}

nav ul li a{
    text-decoration: none;
    color: #F8F4EC;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box; 
    margin-left: 35px ;
    transition: 0.3s;
}

 nav ul li a:hover,
 nav ul li a.active {
    color: #FFDFDF;
  }





.shopdeets{
    padding-top: 180px;
    box-sizing: border-box; 
  
}

.writing{
    font-family: 'Lemon', serif;
    text-align: center;
    color: #FBF9F1;
    font-size: 100px;
    line-height: 100px;
    
}

.line{
    height: 30px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,151,233,1) 100%);
}

.col{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.section{
    magin: 150px;
    
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,151,233,1) 100%);
}
.image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    
}
.image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
   
    
}
.image img:hover{
    transform: scale(1.2);

}
.content{
    flex: 1;
    margin-top: 150px;
}
.content h2{
    font-size: 33px;
    margin-bottom: 15px;
    color: #B19470;
    font-family: 'Lemon', sans-serif;
    justify-content: flex-start;

}
.content h3{
    font-size: 33px;
    margin-bottom: 15px;
    color: #B19470;
    font-family: 'Lemon', sans-serif;
    justify-content: flex-start;

}

.content p{
    font-size: 18px;
    line-height: 1.5;
    color : #B19470 ;
    font-family: 'Salsa', sans-serif;
    text-align: justify;
}

.section{
    background: #FBF6EE;
    padding-left: 100px;
    padding-right: 100px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    border: 1px solid #C69774;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #FFDFDF;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    text-align: center;
    padding: 20px;
    font-family: 'quicksand', serif;
    color: #B0578D;
  }
  
  .product-info h2 {
    margin-top: 0;
  }
  
  .product-info p {
    margin-bottom: 10px;
  }
  
  .price {
    margin-top: 10px;
    font-weight: bold;
    color: #E966A0; 
  }
  
  .button {
    background-color: #E6A4B4;
    color: #FBF6EE;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    font-family: 'Quicksand', serif;
  }

  .button:hover {
    background: #BB9CC0;
   
  }

  .col1{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.button2 {
    background-color: #E6A4B4;
    color: #FBF6EE;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px ;
    transition: 0.3s;
    font-family: 'Quicksand', serif;
    font-size: 25px;
  }

  .button2:hover {
    background: #BB9CC0;
   
  }
